* {
  padding:0;
  margin:0;
  font-family: 'Roboto', serif;
  font-weight: 400;
}

main {
  background: #7c7067;
  font-size: 14px;
  color: #fff;
  line-height: 21px;
}

header, footer {
  background: #fff url(../images/pw_maze_black.png);
}

.contact-info {
  color: #fff;
  font-weight: normal;
  margin: 1rem 0;
  padding: 0;
}

.contact-info span {
  padding: 5px;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

img {
  padding: 10px;
}

.welcome-message {
  font-style: italic;
  color: #f3f3f3;
}

.skill {
  font-weight: 700;
  color: #FFFFFF;
}

section, header {
  padding: 5%;
}

.work-experience {
  clear:both;
}

.projects {
 background: #ccc url(../images/footer_lodyas.png);
}

.education {
  background: #1d1b1a;
  clear:both;
}

.map {
  display: block;
  height: 100%;
  margin: 1rem 0;
}

.map-wrap {
  height: 400px;
}

footer {
  text-align: center;
  /*margin-top: 5%;*/
  padding-bottom: 1px;
}

.footer-title {
  background-color: #b8a79a;
}

footer .contact-info {
  padding: 0 5%;
}

/* headers */

h1 {
  font: 40px/48px 'Roboto Slab';
  color: #9b948f;
  display: inline-block;
  margin-right: 1rem;
}

h2 {
  font-weight: bold;
  font: 24px/29px 'Roboto Slab';
  color: #fff;
  padding: 10px;
  border-bottom: 1px dashed #ccc;
}

.skills-title {
  color: #9b948f;
  display: none;
}

h3 {
  font-style: italic;
  font: 20px/22px 'Roboto Slab';
  color: #000000;
}

h4 {
  font-weight: 700;
  font: 14px/17px 'Roboto Slab';
  color: #4A4A4A;
}

h2,
h3,
h4,
h5 {
  padding:10px 0;
}

/* links */
a {
  color: #11c38d;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

/* other typography stuff */

.highlight {
  color: #9b948f;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #a3a3a3;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #a3a3a3;
  line-height: 16px;
  float: right;

}

.dark-gray {
  background-color: #4A4A4A;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

ul {
  list-style-type: none;
}

.clearfix {
  overflow: auto;
}

/* Bar chart stuff */
.chart div {
  font: 10px sans-serif;
  background-color: #4A4A4A;
  text-align: right;
  padding: 3px;
  margin: 1px;
  height: 12px;
  color: white;
  display: inline-block;
}



@media only screen and (max-width: 1024px) {
  /*footer {
    margin-top: 5%;
  }*/
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  /*footer {
    margin-top: 10%;
  }*/
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

@media only screen and (min-width: 750px) {
  header h3,
  .biopic {
    display: block;
  }
}
